@import "public/assets/colors.module.scss";
@import "public/assets/variables.module.scss";

.ProjectIntro {
  position: relative;
  flex: 1 1;
  flex-basis: 40%;
  border-radius: 1rem;
  box-shadow: 0 0 6px 2px grey;
  cursor: pointer;
  animation: 3s $stretch ease-out;

  .ProjectImage {
    border-radius: inherit;
    position: static !important;
    object-fit: fill;
  }


  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 1;
    inset: 0;
    border-radius: 1rem;
    opacity: 0.3;
    background: linear-gradient(rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.78) 80%);
  }

  &:hover {
    .InfoOverlay {
      z-index: 2;
      transform: none;
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }
  }

  .InfoOverlay {
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 300ms ease-in-out 0s, transform 300ms ease-in-out 0s;
    position: absolute;
    bottom: 0;
    color: $cream-color;
    font-family: Blorado, sans-serif;
    padding: 1.4rem 2rem;

    h1 {
      font-weight: 800;
    }

    .Tech {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;

      span {
        background: #696869;
        padding: 4px 10px;
        border-radius: 50px;
        font-size: 0.8rem;
        color: $cream-color;
      }
    }
  }
}