@import 'public/assets/colors';
@import 'public/assets/variables';

.Wrapper {
  text-align: center;
  position: relative;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6.25rem 4rem 1rem;
  gap: 1.5rem;

  .Navigation {
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;

    .Link {
      text-decoration: none !important;
      color: $grey;
    }

    .NavText {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.08rem;
        width: 0;
        height: 0.08rem;
        background-color: $green;
        transition: width 0.5s;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .ImageWrapper {
    height: 11.9rem;
    width: 11.9rem;
    position: relative;

    .ProfilePicture {
      border-radius: 0.5rem;
      height: 9rem;
      width: 9rem;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -0.6rem;
      width: 30%;
      height: 0.1rem;
      border-radius: 1rem;
      background-color: $light-green;
      box-shadow: 0 0 0.2rem 0.17rem $light-green;
    }

    &:hover {
      img {
        height: 10.2rem;
        width: 10.2rem;
        animation: enlargePicture 0.5s linear;
      }

      &::after {
        width: 40%;
        animation: enlargeShadow 0.5s linear;
      }
    }
  }

  .Contact {
    color: $primary;
    cursor: copy;
  }

  .Description {
    margin: 1.5rem 0;
    text-align: justify;
    color: rgba(15, 122, 60, 0.3);
    $gradientOptions: linear, left top, right top, from(rgba(0, 255, 114, 0.54)), to(rgba(21, 199, 100, 0.3)), color-stop(0.5, #fff);

    @mixin vendor($prop, $args...) {
      -webkit-#{$prop}: $args;
      -moz-#{$prop}: $args;
      #{$prop}: $args;
    }

    @mixin bg-vendor($args...) {
      background: -webkit-gradient($args);
      background: gradient($args);
    }

    @include bg-vendor($gradientOptions);
    @include vendor(background-size, 125px 100%);
    @include vendor(background-clip, text);
    @include vendor(animation-name, shimmer);
    @include vendor(animation-duration, 2s);
    @include vendor(animation-iteration-count, infinite);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(16, 65, 36, 0.6)
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

@keyframes enlargePicture {
  0% {
    width: 9rem;
    height: 9rem;
  }
  100% {
    width: 10.2rem;
    height: 10.2rem;
  }
}

@keyframes enlargeShadow {
  0% {
    width: 30%;
  }
  100% {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .Wrapper {
    .Description {
      margin: 1rem 2rem;
    }
  }
}

@media (max-width: 600px) {
  .Wrapper {
    .Description {
      margin: 0 1rem;
    }
  }
}