@import 'public/assets/colors.module.scss';
@import 'public/assets/variables.module.scss';

.Wrapper {
  text-align: center;
  position: relative;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
  height: calc(100vh - 11rem);

  .Content {
    max-width: 70%;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;

    .Navigation {
      text-align: start;
      display: flex;
      align-items: center;

      .Link {
        text-decoration: none !important;
        color: $grey;
      }

      .NavText {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -0.08rem;
          width: 0;
          height: 0.08rem;
          background-color: $green;
          transition: width 0.5s;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    .IntroWrapper {
      display: flex;
      align-items: center;
      gap: 3rem;

      .ProfilePicture {
        flex: 1 1;
        max-height: 40vmin !important;
        position: static !important;
        border-radius: 0.5rem;
        object-fit: contain;
        animation: $stretch 2s ease-out;
      }

      .Description {
        font-size: 3vmin;
        animation: 2s $stretch ease-out, 2s shimmer infinite;
        flex: 2 1;
        text-align: justify;
        color: rgba(15, 122, 60, 0.3);
        $gradientOptions: linear, left top, right top, from(rgba(0, 255, 114, 0.54)), to(rgba(21, 199, 100, 0.3)), color-stop(0.5, #fff);

        @mixin bg-vendor($args...) {
          background: -webkit-gradient($args);
          background: gradient($args);
        }

        @include bg-vendor($gradientOptions);
        background-repeat: no-repeat;
        background-size: 125px 100%;
        background-clip: text;
        background-position: 0 0;
        background-color: rgba(16, 65, 36, 0.6)
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

@media (max-width: 700px) {
  .Wrapper {
    .IntroWrapper {
      flex-direction: column;

      .ProfilePicture {
        margin: 0 !important;
        height: 35vmin !important;
      }

      .Description {
        font-size: 1.2rem;
      }
    }
  }
}